name: Release project

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build & publish release

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${GITHUB_REF}

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

#      - name: Configure Maven settings
#        env:
#          M2_SETTINGS: ${{ secrets.M2_SETTINGS }}
#        run: printf "$M2_SETTINGS" > ~/.m2/settings.xml

      - name: Tag name
        id: tag_name
        run: echo ::set-output name=SOURCE_TAG::${GITHUB_REF#refs/tags/}

      - name: Adjust Git Config
        run: |
          git config --global user.email "uujava@gmail.com"
          git config --global user.name "Uujava Github Action"

      - name: Release
        run: mvn --batch-mode release:prepare release:perform -Dtag="release-${SOURCE_TAG}" -DreleaseVersion=$SOURCE_TAG -DdevelopmentVersion=1.0-SNAPSHOT -Dusername=${{ secrets.PAT }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}